:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color:	rgb(56,56,56);
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.AppText {
  color: white;
  font-weight: bold;
}

.listMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.listFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.listAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.filterBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}