:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color:	rgb(56,56,56);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  background-color: rgb(16,16,16);
  color: white;
}

.navText {
  font-size: 1.2rem;
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.AppText {
  color: white;
  font-weight: bold;
}

.listMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.listFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.listAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.filterBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.filterName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.filterRating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

hr {
  color: white;
}